<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>
    <logger name="szu.bigdata.repository.BlogRepository" level="DEBUG"/>
    <logger name="szu.bigdata.repository.TagsRepository" level="DEBUG"/>
    <logger name="szu.bigdata.repository.AdminInfoRepository" level="DEBUG"/>
</configuration>