<div class="am-u-md-8 am-u-sm-12">
    <hr>
    <div class="timeline-year">
        <h1>2017</h1>
        <hr>
        <ul th:each="blog:${Blogs}">
            <li>
                <span th:text="${blog.Date}+'  '">2015/10/18</span>
                <span ><a th:href="@{/blog/{vid}(vid=${blog.Vid})}" th:text="${blog.Title}">君埋泉下泥销骨，我寄人间雪满头</a></span>
            </li>
            <hr>
        </ul>
        <br>
    </div>
    <hr>
    <ul class="am-pagination blog-article-margin">
        <li class="am-pagination-prev"><a href="#" class="">&laquo; 一切的回顾</a></li>
        <li class="am-pagination-next"><a href="#">不远的未来 &raquo;</a></li>
    </ul>
</div>